QWidget {
  padding: 5px;
}

QLabel {
  font-size: 13px;
}

QPushButton {
  border: 1px solid #c5c5c5;
  padding: 6px;
  font-size: 13px;
}

QPushButton:hover {
  background-color: #f5f5f5;
  color: rgb(22, 22, 22);
}

QLineEdit {
  border: 1px solid #c5c5c5;
  padding: 6px;
  font-size: 13px;
}

QListWidget::item {
  padding: 12px;
}
