* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

*::focus {
  outline: none;
}

QPushButton {
  padding: 6px;
}

QLineEdit {
  padding: 6px;
}

QLineEdit[cssClass="error"] {
  border: 1px solid tomato;
}

QListWidget::focus {
  border: none;
}

QListWidget::item {
  padding: 13px;
}
