*::focus {
  outline: none;
  border: 1px solid #f5f5f5;
}

/* QWidget {
  padding: 5px;
} */

QLabel {
  font-size: 13px;
}

QPushButton {
  border: 1px solid #a1a1a1;
  padding: 6px;
  font-size: 13px;
}

QPushButton:hover {
  background-color: #c5c5c5;
  color: rgb(22, 22, 22);
}

QLineEdit {
  border: 1px solid #a1a1a1;
  padding: 6px;
  font-size: 13px;
}

QLineEdit[cssClass="error"] {
  border-color: tomato;
}

QListWidget::focus {
  border: none;
}

QListWidget::item {
  padding: 12px;
}
